# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
Package.resolved

# App/package local generated workspaces
.swiftpm/

# Fastlane / distribution artifacts
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
*.ipa
*.dSYM.zip

# Logs
*.log
